:root {
  --color-cfg-maroon: #7F0034;
  --color-cfg-maroon-dark: #610229;
  --color-cfg-maroon-darker: #3E011A;
  --color-cfg-beige: #EFDFD0;
  --color-cfg-beige-dark: #D7C3B0;
  --color-cfg-beige-darker: #756864;
  --color-cfg-aqua-light: #B4D4D4;
  --color-cfg-aqua: #066F6F;
  --color-cfg-aqua-dark: #124A49;
  --color-cfg-aqua-darker: #083332;  
  --color-cfg-yellow: #FEF9B6;
  --color-cfg-light-rollover:#BDFAFA;
  --color-cfg-dark-rollover:#250110; 
}

@media print {

  /*Formats H1 header block to print CFG content with a specific header*/
  main hgroup#wb-cont.cfg-print {
    background-color: var(--color-cfg-beige) !important;
    display: flex;
    min-height: 100px;
    -webkit-print-color-adjust: exact !important;    /* For Chrome/Safari */
    print-color-adjust: exact !important;             /* For Firefox/Edge/Chrome */    
  }

  /* Converts the Canada's food guide stacked header text to a maroon box for print */
  main hgroup#wb-cont.cfg-print p {
    width: 150px;
    background-color: var(--color-cfg-maroon) !important;
    color: #FFF !important;
    padding:10px 10px 10px 20px;
    margin:0px;
    display: flex;
    font-size: 1.0em !important;
    font-weight: bold;
    flex-direction:column;
    justify-content:flex-end;
    line-height: 1.1em !important;
    -webkit-print-color-adjust: exact !important;    /* For Chrome/Safari */
    print-color-adjust: exact !important;            /* For Firefox/Edge/Chrome */    
  }

  /* Used in CFG kids section to replace maroon box with aqua coloured box */
  main hgroup#wb-cont.cfg-kids.cfg-print p {
    background-color: var(--color-cfg-aqua-dark) !important;
    color: #FFF !important;   
  }

   main hgroup#wb-cont.cfg-print p > span, main hgroup#wb-cont.cfg-kids.cfg-print p > span {
    color: #FFF !important;
  }

   /*Used in CFG kids section to replace white text with yellow on words in span tag */
   main hgroup#wb-cont.cfg-kids.cfg-print p > span.cfg-kids {
    background-color: var(--color-cfg-aqua-dark) !important;
    color: var(--color-cfg-yellow) !important;   
  }

  /* Beige H1 background and puts it in a flex box */
  main hgroup#wb-cont.cfg-print h1 {
    background-color: var(--color-cfg-beige) !important;
    color:#000 !important;
    padding:10px;
    margin:0px;
    flex: 1;
    display: flex;
    font-size: 1.4em !important;
    flex-direction:column;
    justify-content:flex-end;
    border-bottom:none !important;
    border-image: unset !important;
    border-image-slice: unset !important;
    -webkit-print-color-adjust: exact !important;    /* For Chrome/Safari */
    print-color-adjust: exact !important;            /* For Firefox/Edge/Chrome */    
  }

  /*Used in CFG kids section to replace beige with yellow background */
  main hgroup#wb-cont.cfg-kids.cfg-print h1 {
    background-color: var(--color-cfg-yellow) !important;
  }

  main .cfg-print {
    font-size: 1.1rem !important;  
  }
   main .cfg-print h1, main .cfg-print .h1 {
    font-size: 1.6rem !important; 
  }
  main .cfg-print h2, main .cfg-print .h2 {
    font-size: 1.5rem !important; 
  }
  main .cfg-print h3, main .cfg-print .h3 {
    font-size: 1.4rem !important; 
  }
  main .cfg-print h4, main .cfg-print .h4 {
    font-size: 1.3rem !important; 
  }
  main .cfg-print h5, main .cfg-print .h5 {
    font-size: 1.2rem !important; 
  }
  main .cfg-print h6, main .cfg-print .h6 {
    font-size: 1.1rem !important; 
  }

  main .cfg-print .h2.cfg-text-maroon, main .cfg-print h2.cfg-text-maroon,
  main .cfg-print .h3.cfg-text-maroon, main .cfg-print h3.cfg-text-maroon,
  main .cfg-print .h4.cfg-text-maroon, main .cfg-print h4.cfg-text-maroon,
  main .cfg-print .h5.cfg-text-maroon, main .cfg-print h5.cfg-text-maroon,
  main .cfg-print .h6.cfg-text-maroon, main .cfg-print h6.cfg-text-maroon {
    color: var(--color-cfg-maroon) !important;
  }

  main .cfg-print .h2.cfg-text-aqua-dark, main .cfg-print h2.cfg-text-aqua-dark,
  main .cfg-print .h3.cfg-text-aqua-dark, main .cfg-print h3.cfg-text-aqua-dark,
  main .cfg-print .h4.cfg-text-aqua-dark, main .cfg-print h4.cfg-text-aqua-dark,
  main .cfg-print .h5.cfg-text-aqua-dark, main .cfg-print h5.cfg-text-aqua-dark,
  main .cfg-print .h6.cfg-text-aqua-dark, main .cfg-print h6.cfg-text-aqua-dark {
    color: var(--color-cfg-aqua-dark) !important;
  }

  main .cfg-print div.lst-spcd>ol>li, main .cfg-print div.lst-spcd>ul>li,
  main .cfg-print ol.lst-spcd>li, main .cfg-print ul.lst-spcd>li {
    margin-bottom: 0px !important;
  } 

  
  main .cfg-print .bg-cfg-aqua-light, main .cfg-print.bg-cfg-aqua-light {
     background-color: var(--color-cfg-aqua-light) !important;
    -webkit-print-color-adjust: exact !important;    /* For Chrome/Safari */
    print-color-adjust: exact !important;            /* For Firefox/Edge/Chrome */     
   }
}

/* Background colours */
.bg-cfg-maroon {
  background-color: var(--color-cfg-maroon);
  color: #FFF;
}

.bg-cfg-maroon a {
  color: #FFF;
}
.bg-cfg-maroon a:hover, .bg-cfg-maroon a:focus {
  color: var(--color-cfg-light-rollover);
}

.bg-cfg-beige {
  background-color: var(--color-cfg-beige);
}

.bg-cfg-beige a {
  color: var(--color-cfg-maroon);
}

.bg-cfg-beige a:hover, .bg-cfg-beige a:focus {
  color: var(--color-cfg-dark-rollover);
}

.bg-cfg-aqua {
  background-color: var(--color-cfg-aqua);
  color: #FFF;
}

.bg-cfg-aqua a {
  color: #FFF;
}

.bg-cfg-aqua a:hover, .bg-cfg-aqua a:focus {
  color: var(--color-cfg-light-rollover);
}

.bg-cfg-aqua-dark {
  background-color: var(--color-cfg-aqua-dark);
  color: #FFF;
}

.bg-cfg-aqua-dark a {
  color: #FFF;
}

.bg-cfg-aqua-dark a:hover, .bg-cfg-aqua-dark a:focus {
  color: var(--color-cfg-light-rollover);
}

.bg-cfg-aqua-light {
  background-color: var(--color-cfg-aqua-light);
}

.bg-cfg-aqua-light a {
  color:var(--color-cfg-maroon);
}

.bg-cfg-aqua-light a:hover, .bg-cfg-aqua-light a:focus {
  color: var(--color-cfg-maroon-darker);
}

.bg-cfg-yellow {
  background-color: var(--color-cfg-yellow);
}

.bg-cfg-yellow a {
  color: var(--color-cfg-aqua-dark);
}

.bg-cfg-yellow a:hover, .bg-cfg-yellow a:focus {
color:var(--color-cfg-dark-rollover);
}

/* Text colours */
.cfg-text-maroon {
  color: var(--color-cfg-maroon);
}

.cfg-text-aqua {
  color: var(--color-cfg-aqua);
}

.cfg-text-aqua-dark {
  color: var(--color-cfg-aqua-dark);
}

/* Borders */
.cfg-brdr-maroon {
  border-color:var(--color-cfg-maroon) !important;
}

.cfg-brdr {
  border: 15px solid var(--color-cfg-maroon);
}

.cfg-brdr-tp {
  border-top: 15px solid var(--color-cfg-maroon);
}

.cfg-brdr-rght {
  border-right: 15px solid var(--color-cfg-maroon);
}

.cfg-brdr-bttm {
  border-bottom: 15px solid var(--color-cfg-maroon);
}

.cfg-brdr-lft {
  border-left: 15px solid var(--color-cfg-maroon);
}

.cfg-brdr-lft-box {
  border-left: 60px solid var(--color-cfg-maroon);
}

/* Panel - Maroon */
.panel-cfg-maroon {
    border-color: var(--color-cfg-maroon-dark); 
}

.panel-cfg-maroon>.panel-heading {
    color: #fff;
    background-color: var(--color-cfg-maroon);
    border-color: var(--color-cfg-maroon-dark);
}

.panel-cfg-maroon>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: var(--color-cfg-maroon-dark);
}

.panel-cfg-maroon>.panel-heading .badge {
    color: var(--color-cfg-maroon);
    background-color: #fff;
}

.panel-cfg-maroon>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: var(--color-cfg-maroon-dark);
}

.btn-cfg-aqua {
    color: #fff;
    background-color: var(--color-cfg-aqua);
    border-color: var(--color-cfg-aqua-dark);
}

.btn-cfg-aqua.focus,.btn-cfg-aqua:focus, .btn-cfg-aqua:hover,
.btn-cfg-aqua.active,.btn-cfg-aqua:active,.open>.btn-cfg-aqua.dropdown-toggle,
.btn-cfg-aqua.active.focus,.btn-cfg-aqua.active:focus,.btn-cfg-aqua.active:hover,
.btn-cfg-aqua:active.focus,.btn-cfg-aqua:active:focus,.btn-cfg-aqua:active:hover, 
.open>.btn-cfg-aqua.dropdown-toggle.focus,.open>.btn-cfg-aqua.dropdown-toggle:focus,
.open>.btn-cfg-aqua.dropdown-toggle:hover {
    color: #fff;
    background-color: var(--color-cfg-aqua-dark);
    border-color: var(--color-cfg-aqua-darker);
}

.btn-cfg-aqua.disabled.focus,.btn-cfg-aqua.disabled:focus,.btn-cfg-aqua.disabled:hover,
.btn-cfg-aqua[disabled].focus,.btn-cfg-aqua[disabled]:focus,.btn-cfg-aqua[disabled]:hover,
fieldset[disabled] .btn-cfg-aqua.focus,fieldset[disabled] .btn-cfg-aqua:focus,fieldset[disabled] .btn-cfg-aqua:hover {
    background-color: var(--color-cfg-aqua);
    border-color: var(--color-cfg-aqua-darker);
}

.btn-cfg-aqua .badge {
    color: var(--color-cfg-aqua);
    background-color: #fff;
}

.btn-cfg-aqua:visited {
    color: #fff;
}

.btn-cfg-maroon {
    color: #fff;
    background-color: var(--color-cfg-maroon);
    border-color: var(--color-cfg-maroon-dark);
}

.btn-cfg-maroon.focus,.btn-cfg-maroon:focus, .btn-cfg-maroon:hover,
.btn-cfg-maroon.active,.btn-cfg-maroon:active,.open>.btn-cfg-maroon.dropdown-toggle,
.btn-cfg-maroon.active.focus,.btn-cfg-maroon.active:focus,.btn-cfg-maroon.active:hover,
.btn-cfg-maroon:active.focus,.btn-cfg-maroon:active:focus,.btn-cfg-maroon:active:hover, 
.open>.btn-cfg-maroon.dropdown-toggle.focus,.open>.btn-cfg-maroon.dropdown-toggle:focus,
.open>.btn-cfg-maroon.dropdown-toggle:hover {
  color: #fff;
    background-color: var(--color-cfg-maroon-dark);
    border-color: var(--color-cfg-maroon-darker);
}

.btn-cfg-maroon.disabled.focus,.btn-cfg-maroon.disabled:focus,.btn-cfg-maroon.disabled:hover,
.btn-cfg-maroon[disabled].focus,.btn-cfg-maroon[disabled]:focus,.btn-cfg-maroon[disabled]:hover,
fieldset[disabled] .btn-cfg-maroon.focus,fieldset[disabled] .btn-cfg-maroon:focus,fieldset[disabled] .btn-cfg-maroon:hover {
    background-color: var(--color-cfg-maroon);
    border-color: var(--color-cfg-maroon-dark);
}

.btn-cfg-maroon .badge {
    color: var(--color-cfg-maroon);
    background-color: #fff
}

.btn-cfg-maroon:visited {
    color: #fff;
}

.btn-cfg-beige {
    color: #000 !important;
    background-color: var(--color-cfg-beige);
    border-color: var(--color-cfg-beige-dark);
}

.btn-cfg-beige.focus,.btn-cfg-beige:focus, .btn-cfg-beige:hover,
.btn-cfg-beige.active,.btn-cfg-beige:active,.open>.btn-cfg-beige.dropdown-toggle,
.btn-cfg-beige.active.focus,.btn-cfg-beige.active:focus,.btn-cfg-beige.active:hover,
.btn-cfg-beige:active.focus,.btn-cfg-beige:active:focus,.btn-cfg-beige:active:hover,
.open>.btn-cfg-beige.dropdown-toggle.focus,.open>.btn-cfg-beige.dropdown-toggle:focus,
.open>.btn-cfg-beige.dropdown-toggle:hover {
    color: #000 !important;
    background-color: var(--color-cfg-beige-dark);
    border-color: var(--color-cfg-beige-darker);
}

.btn-cfg-beige.disabled.focus,.btn-cfg-beige.disabled:focus,.btn-cfg-beige.disabled:hover,
.btn-cfg-beige[disabled].focus,.btn-cfg-beige[disabled]:focus,.btn-cfg-beige[disabled]:hover,
fieldset[disabled] .btn-cfg-beige.focus,fieldset[disabled] .btn-cfg-beige:focus,fieldset[disabled] .btn-cfg-beige:hover {
    background-color: var(--color-cfg-beige);
    border-color: var(--color-cfg-beige-dark);
}

.btn-cfg-beige .badge {
    color: #000;
    background-color: #fff;
}

.btn-cfg-beige:visited {
    color: #000 !important;
}

/*For auto generated pagination, makes the current button maroon */
.cfg .wb-paginate-pager .pagination>.active>button,
.cfg .wb-paginate-pager .pagination>.active>button:focus,
.cfg .wb-paginate-pager .pagination>.active>button:hover {
  background-color: var(--color-cfg-maroon);
  border-color: var(--color-cfg-maroon-dark);
}

/* Gives the currently active list-group-item a maroon background */
.cfg li .list-group-item.active {
    color: #fff;
    background-color: var(--color-cfg-maroon);
    border-color: var(--color-cfg-maroon-dark);  
}

.cfg li .list-group-item.active:hover, .cfg li .list-group-item.active:focus {
    background-color: var(--color-cfg-maroon-dark);
    border-color: var(--color-cfg-maroon-darker);  
}

/* Pinterst GC Follow us button */
.gc-followus ul .pinterest::before {
    background-image: url("https://www.canada.ca/content/dam/hc-sc/images/services/food-guide/icons/pinterest.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 38px;
    margin-right: 10px;
    min-width: 38px;
}
